.link-list {
    padding: 0;
    /* boxShadow: "0px 1px 5px 5px rgba(150, 149, 149, 0.4)", */
  }
  
  .link-list-item {
    text-align: left;
    border-style: none !important;
    margin: 0px !important;
    font-size: 0.9rem;
  }
  
  .link-list-item :hover {
    text-align: left;
    border-style: none !important;
    margin: 0px !important;
    font-size: 0.9rem;
    -webkit-box-shadow: 0px 1px 5px 5px rgba(150, 149, 149, 0.4),
  }
  
  .link-list-item-url {
    text-decoration: none;
    margin: 0px !important;
    display: block;
    color: #1d1d1d;
    padding: 8px;
    border-radius: 3px;
    border-width: 1px !important;
  }
  
  .head{
    border-style: none !important;
  }
  
  .fa{
    float: right !important;
  }