.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  margin-right: 0px !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px !important;
  color: white;
}

.react-chatbot-kit-chat-inner-container{
  margin: 0px !important;
  height: 100vh !important;
}

.react-chatbot-kit-chat-message-container{
  height: 87vh !important;
}

.btn{
  font-size: 13px !important;
}

span{
  font-size: 13px !important;
}

.react-chatbot-kit-user-chat-message{
  font-size: 13px !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
